<div class="text-center">
    <p>Alunos Cadastrado com Sucesso
    
</div>
<div class="text-center">
    <a class="btn btn-primary col-1" type="button" asp-controller="Aluno" asp-action="Adicionar">Voltar</a>
</div>
