@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!!</h1>
    <p>-=Manutenção=- O site ta crescendo :) -=Manutenção=-
</div>

<div class="d-grid gap-2 d-md-flex justify-content-center">
    
</div>