<div class="text-left">
    <h4>Datas:</h4>
    <label><b>Data de Inicio:</b> 21/06/2021</label>
    <br />
    <label><b>Data de Encerramento:</b> 1/07/2021</label>
    <br />
    <h4>Coordenador:</h4>
    <label><b>Coordenador:</b> Junior</label>
    <br />
    <label><b>Instituição:</b> Senac</label>
    <br />
    <label><b>Endereceço:</b> Rod. Antônio Heil, 191 - Centro 2, Brusque - SC, 88353-100</label>
    <br />
    <label><b>Telefone:</b> (47) 3351-2626</label>
</div>