@if (ViewData["Mensagem"] != null)
{
    <div class="alert-danger">
        @ViewData["Mensagem"]
    </div>
}

<div class="text-left">

    <div>
        <h1>Dados dos Professores</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Contato</th>
                <th scope="col">Email</th>
                <th scope="col">Cep</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Katia Schmitt Pollheim</td>
                <td>28</td>
                <td>(47) 99177-4897</td>
                <td>katiaschmittp@gmail.com</td>
                <td>88350-665</td>
                <td>
                    <div>
                        <a class="btn btn-primary" type="button" asp-controller="Professor" asp-action="BuscarEnderecoP" asp-route-cep="88350-665">Endereço</a>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>

