<div class="text-center">
    <h1 class="display-4">Conteúdos Adiministrados</h1>
    <p>-=Manutenção=-
</div>

<div class="d-grid gap-2 d-md-flex justify-content-center">

</div>

<div class="text-center">
    <a class="btn btn-primary col-2" href="https://documenter.getpostman.com/view/7064033/SWT5jMGk">Tabela Fipe</a>
    <a class="btn btn-primary col-2" href="https://parallelum.com.br/fipe/api/v1/carros/marcas">Marcas</a>
    <a class="btn btn-primary col-2" href="https://console.hgbrasil.com/documentation/weather">Documentação</a>
</div>
